<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recepcjonista - Pokoje</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/admin_room.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="feedback" class="col-md-12"></div>
    </div>
    <table id="test" class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ilość osób</th>
            <th scope="col">Standard</th>
            <th scope="col">Usuń</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <form id="addForm">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputName">Numer</label>
                <input id="inputName" type="text" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="inputSize">Ilość miejsc</label>
                <select id="inputSize" class="form-control">
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputStandard">Standard</label>
                <select id="inputStandard" class="form-control">
                    <option selected>Standard</option>
                    <option>Premium</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="submitButton"></label>
                <button id="submitButton" type="submit" class="form-control btn btn-success ">Dodaj</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>